* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    font-family: Tahoma;
    color: #333;   
}

header {
    height: 50px;
    position: relative;
    padding: 5px;
}

footer {
    height: 50px;
    position: relative;
}

.modal {
    width: 600px;
    min-height: 200px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 10;
    font-family: Tahoma;
}

.closeButton {
    background-color: #333;
    height: 20px;
    width: 20px;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    top:5px;
    right:5px;
}

.buttons {
    position: absolute;
    left: 0;
    top: 10px;
    transform: translateX(480px);
}

.button {
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    height: 30px;
    width: 50px;
}

.submitButton {
    background-color: #bada55;
    color: darkgreen;
}


.input{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inputText {
    border: 1px solid gray;
}

.container {
    height: 100px;
    position: relative;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

::placeholder {
    color: #929292;
}
label {
    display: inline-block;
}